/* CSS for Luxtylo's blog */

body {
    width: 1000px;
    
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 950px;
    
    margin: 25px auto 0 auto;
    padding: 10px 25px;
    
    font-size: 64px;
    font-weight: 600;
}

#sitename {
    width: 500px;
}

#motd {
    width: 500px;
    margin-top: 20px;
    margin-left: 8px;
    font-size: 24px;
    color: #333;
}

a {
    text-decoration: none;
    color: #000;
}

.title {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

nav {
    height: 30px;
    width: 800px;
    margin: 10px 10px 0 10px;
}

nav a {
    padding: 10px 5px 0px 5px;
    float: left;

    font-size: 18px;
    color: #555;
    text-decoration: none;
}

nav a:hover {
    color: #333;
}

main {
    width: 900px;
    display: block;
    
    margin: 0px auto;
    padding: 15px 30px 0 30px;
}

article {
    width: 900px;

    margin: 15px 0px 0px 0px;
    padding: 10px 20px 15px 20px;

    clear: both;
}

.clear {
    clear: both;
    overflow: hidden;
    height: 0;
}

.postpreviewimage {
    width: 256px;
    margin-right: 15px;
    float: left;
}

.postheaderimage {
    width: 768px;
    margin: 0 auto;
    display: block;
}

.postembedimage {
    width: 512px;
    margin: 0 auto;
    display: block;
}

.text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    color: #222;
    line-height: 1.4;
}

.text a {
    text-decoration: none;
    font-weight: 600;
    color: #444;
}

h1 {
    margin-bottom: 25px;
    padding-top: 0px;
    padding-left: 0px;
    
    font-size: 36px;
    color: #222;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #222;
}

p {
    margin: 10px 0;
    display: block;
}

strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

ul {
    margin-left: 30px;
    list-style: disc;
}

.fixul ul {
    margin-left: 310px;
}

footer {
    margin: 20px 20px 0 20px;
}

#copyright {
    padding: 0px 10px 20px 10px;
    float: left;
}

#generator {
    padding: 0px 10px 20px 10px;
    float: right;
}

/* Fixing fonts */
* {
    -webkit-font-smoothing: antialiased;
}
